@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome To Ticket Booking System</h1>
    <h3 class="display-4">Developed by Vikings Software LTD</h3>
    <p>Learn about <a href="#">Vikings Software LTD</a>.</p>
</div>
